<div class="content">
    <div class="overlay d-flex justify-content-center align-items-center">
        <div class="cont text-light text-center p-5 rounded shadow">
            <h2>Welcome To Bank System</h2>
            <h4>Thank you for trusting on Us</h4>
            
            <div class="d-flex justify-content-around">
                <button class="btn btn-primary" routerLink="all">All Users</button>
                <button class="btn btn-danger" routerLink="transactions">All Transactions</button>
            </div>
        </div>

    </div>
</div>
